.tableWrapper {
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #e3e3e3;

	> table {
		width: 100%;
		border-collapse: collapse;

		> thead {
			td {
				padding: 10px 14px;
				font-size: var(--font);
				font-weight: 500;
				background-color: #e3e3e3;

				@media (max-width: 600px) {
					font-size: 10px;
					padding: 10px 5px;
				}
			}
		}

		> tbody {
			tr {
				&:hover {
					background-color: #e3e3e396;
					cursor: pointer;
				}
			}
			td {
				padding: 10px 14px;

				@media (max-width: 600px) {
					padding: 7px 5px;
					font-size: 10px;
				}
			}
		}
	}
}
